@import 'src/scss/color';
@import 'src/scss/fonts';

.content-books-car {
  margin: 30px 0;
  position: relative;

  display: flex;
    justify-content: space-between;

  &::before {
    content: '';
    background-color: $silver-chalice;
    bottom: -20px;
    height: 1px;
    position: absolute;
    width: 100%;
  }
}

.title-modal {
  font-size: $text-title-modal;
}

.text-modal {
  font-size: $text-title-detail;
}

.img-delete {
  margin-left: 20px;
}

.content-without-data {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  width: 800px;
}

.img-without {
  object-fit: contain;
}

.title-modal-without {
  font-weight: 600;
  font-size: $text-title-witout;
  text-align: center;
}

.content-modal-without {
  font-size: $text-title-witout;
  text-align: center;
}
