@import 'src/scss/color';
@import 'src/scss/fonts';

.container-nav {
  align-items: center;
  background-color: $wild-sand;
  border-top: 5px solid $cerulean;
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  padding: 0 100px;
  width: 100%;
}

.content-logout-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.content-logo {
  width: 50%;
}

.logo-wolox {
  object-fit: cover;
}

.text-logout {
  background-color: $wild-sand;
  border: none;
  font-size: $content-text;
}

