<div class="content">
  <a class="back" href="/books">Atás</a>
  <section class="content-detail">
    <div class="section-img">
      <img class="img-book" alt="img-boos" [src]="details.image_url" />
    </div>
    <div class="section-info">
      <div class="content-title">
        <span class="text-title">{{ details.title }}</span><span class="text-genre">({{ details.genre }})</span>
      </div>
      <div class="content-info">
        <span class="text-info-title" i18n="@@textDetailsAuthor">
          Author of the book: 
        </span><span class="text-info">{{ details.author }}</span>
      </div>
      <div class="content-info">
        <span class="text-info-title" i18n="@@textDetailsEditorial">
          Editorial: 
        </span><span class="text-info">{{ details.publisher }}</span>
      </div>
      <div class="content-info">
        <span class="text-info-title" i18n="@@textDetailsPublications">
          Year of publication: 
        </span><span class="text-info">{{ details.year }}</span>
      </div>
    </div>
  </section>
</div>
