<div class="from-container">
  <img class="logo-wolox" alt="logo-wolox" src="assets/LogoWolox-Original.png">
  <form [formGroup]='loginForm' (ngSubmit)='loginPost()'>
    <div class="section-input" *ngFor="let item of inputDataLogin">
      <label class="text-label">{{ item.text }}</label>
      <input class="decoration-input" [type]="item.type" [formControlName]="item.formControlName"/>
      <span class="message-alert" *ngIf="!loginForm.get(item.formControlName).valid && loginForm.get(item.formControlName).touched">
        {{ messageAlert }}
      </span>
    </div>
    <div class="section-buttons">
      <button class="button button-register" type="submit" [disabled]="!loginForm.valid">Login</button>
      <button class="button button-login" type="button" routerLink="/register">Registro</button>
    </div>
  </form>
</div>
