@import 'src/scss/color';
@import 'src/scss/fonts';

.input-search {
  border: solid $wild-sand;
  border-radius: 5px;
  display: flex;
  font-size: $text-search;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  width: 646px;
}
