@import 'src/scss/color';
@import 'src/scss/fonts';

.content-card {
  background-color: $white;
  box-shadow: 0 3px 6px $color-one-shadow, 0 3px 6px $color-two-shadow;
  display: flex;
  flex-direction: column;
  height: 340px;
  margin: 30px 20px;
  width: 198px;
}

.img-cards {
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  width: 140px;
}

.img-plus {
  object-fit: contain;
  padding: 10px;
}

.content-info {
  height: 85%;
  padding: 28px 28px 0;
}

.content-plus {
  display: flex;
  flex-direction: row-reverse;
  height: 15%;
}

.text-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: $content-text;
  padding-bottom: 3px;
}

.text-details {
  font-family: 'Roboto', sans-serif;
  color: $silver-chalice;
  font-size: $text-alert;
}
